// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

@mixin header-text {
       @include text-shadow(5px 0px 50px darken(#a16b3f, 23));
}

body > header h1 {
     // @include header-text;
}

.site-title sapn {
     -webkit-transition: all 0.9s ease;
     -moz-transition:    all 0.9s ease;
     -o-transition:      all 0.9s ease;
     transition:         all 0.9s ease;
}

.site-title span:hover {
     color: transparent;
     -webkit-transition: all 0.5s ease;
     -moz-transition:    all 0.5s ease;
     -o-transition:      all 0.5s ease;
     transition:         all 0.5s ease;
}

body > header h2 {
     // @include header-text;
}

body > nav {
     font-size: 1.0em;
}

#content {
     > div, > article { font-size: 0.80em; }
}


